*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

$mainBlack: #222;
$mainGreen: #82b340;
$mainWhite: #fff;
$mainGrey: #ececec;

body{
    background: $mainWhite;
    color: $mainBlack;
    font-family:'Alatsi', sans-serif;
}
